language: python

addons:
  apt:
    packages:
    - openvpn

env:
  global:
  - 'FTP_USER=[FTP_USER]'
  - 'FTP_PASSWORD=[FTP_PASSWORD]'
  - 'FTP_HOST=[FTP_HOST]'
  - 'FTP_PORT=[FTP_PORT]'

branches:
  only: ["master"]

before_install:
  - sudo apt-get update && sudo apt-get install pandoc
  - sudo openvpn path/to/conf.ovpn &>>openvpn-client.log &

script: 
  - make html
  - echo "Done building HTML files"

after_success:
  - echo "Uploading files to `thainlp.org/pythainlp/tutorials`"
  - cd ./build/html
  - find . -type f -name "*" -print -exec curl --ftp-create-dir --ipv4 -v -T {} ftp://thainlp.org/public_html/pythainlp/tutorials/{} --user ${FTP_USER}:${FTP_PASSWORD} --connect-timeout 8 --max-time 120 --retry 128 --disable-epsv --ftp-pasv \;
  - echo "Done uploading"
  - rm -rf ./build/html
