image: ubuntu1604

branches:
  only:
    - master

skip_commits:
  message: /\(skip ci\)/     # Skip a new build if message contains '(skip ci)'

# scripts that run after cloning repository
install:
  - sudo apt-get update && sudo apt-get install -y pandoc python3
  - sudo apt-get install -y python3-sphinx
  - sudo pip install -r requirements.txt

build_script: 
  - sudo make html
  - echo "Done building HTML files"

artifacts:
  - path: ./build/html
    name: document

before_deploy:
  - echo "Start cleaning the directory /tutorials"
  - sudo bash ./clean_directory.sh $FTP_USER $FTP_PASSWORD 

deploy:
  - provider: FTP
    protocol: ftp
    host: $FTP_HOST
    username: $FTP_USER
    password: $FTP_PASSWORD
    active_mode: false
    folder: public_html/pythainlp/tutorials
    artifact: document

after_deploy:
  - echo "Done uploading files to /tutorials"
